
#-Basic info----------------------------------------------------------------------------------------
display_name: whats_my_species
name: whats_my_species__v2.2.12
version:
  schema: ["v2_1_0"]
  code: v2.2.12
  resource: "171019"
#---------------------------------------------------------------------------------------------------

#-Details-------------------------------------------------------------------------------------------
details:
  target: [sample]
  description: >
    This runs kraken/bracken on a sample in order to determine the species found in the sample. Reads
    are first filtered using bbduk. The species is then set for the sample from this.
#---------------------------------------------------------------------------------------------------

#-Category info-------------------------------------------------------------------------------------
category: [species_detection]
#---------------------------------------------------------------------------------------------------

#-Install-------------------------------------------------------------------------------------------
install:
  path: # Set by install program
  dockerfile: docker://ssidk/bifrost_whats_my_species
#---------------------------------------------------------------------------------------------------

#-Options-------------------------------------------------------------------------------------------
options:
#---------------------------------------------------------------------------------------------------

#-Required resource files---------------------------------------------------------------------------
resources:
  kraken_database: "resources/minikraken/"
  kraken_kmer_dist: "resources/minikraken/minikraken_100mers_distrib.txt"
#---------------------------------------------------------------------------------------------------

#-Requirements to run component---------------------------------------------------------------------
requirements:
  sample:
    categories:
      paired_reads:
        summary:
          data:
#-Optional Values-
# sample:
#   properties:
#     sample_info:
#       summary:
#         provided_species:
#---------------------------------------------------------------------------------------------------

#-DB Value changes (excluding component output)-----------------------------------------------------
db_values_changes:
  files:
    - whats_my_species/kraken_report.txt
    - whats_my_species/bracken.txt
    - whats_my_species/kraken_report_bracken.txt
  sample:
    properties:
      species_detection:
        summary:  # see sample_component summary
        component:
          _id: 
          date:  # ObjectId
    report:
      species_detection:
  sample_component:
    summary:
      percent_unclassified:
      percent_classified_species_1:
      name_classified_species_1:
      percent_classified_species_2:
      name_classified_species_2 :
      detected_species:
      species:
    results:
      whats_my_species/bracken_txt: {}
      whats_my_species/kraken_report_bracken: {}
      
#---------------------------------------------------------------------------------------------------

